<div data-ng-controller="passwordRecoveryController"
	class="d-flex vertical-center-container-fluid justify-content-center">
	<div class="card w-35 login-card">
		<div class="card-header">
			<img class="logo-small" src="img/logo-no-name.png" alt="Logo">
			&nbsp;
			<h4 class="d-inline align-middle">Password choice</h4>
		</div>

		<form name="passwordRecoveryForm" class="p-3" data-ng-submit="passwordRecovery()"
			novalidate>
			
			<!-- Password -->
			<div class="row input-group my-2 mx-0">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<i class="fa fa-lock fa-fw"></i>
					</div>
				</div>
				<input type="password" class="form-control" placeholder="New password"
					data-ng-model="newPassword" data-ng-minlength="8" required>
			</div>

			<!-- Messages -->
			<div class="row alert mx-0" role="alert" data-ng-bind="message" data-ng-class="error ? 'alert-danger' : 'alert-info'"></div>

			<!-- Submit -->
			<div class="clearfix float-right">
				<input type="submit" class="btn btn-danger"
					data-ng-disabled="passwordRecoveryForm.$invalid" value="Confirm">
			</div>
		</form>
	</div>
</div>