<html>  
    <body>  
        <div>Hello,</div>
        <div>you are receiving this email because you asked for password reset on <a href="${appPath}">Reports app</a>.</div>  
        <br>
        <div>  
            <a href="${appPath}/#!/password-recovery?email=${userEmail}&token=${userToken}">Click here to set a new password</a>  
        </div>
        <br>
        <div>If the reset request didn't come from you, ignore this email.</div>
        <br>
        <div>Greetings</div>
    </body>  
</html>  